body {
    padding: 0;
    margin: 0;
}
a {
    color: #fff;
}
body > div {
    height: 100px;
}
#firstpanel {
    background: #e1e1e1;
}
#secondpanel {
    background: #1e1e1e;
}
#thirdpanel {
    background: #f00;
}